body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Raleway', sans-serif;;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.main-header .logo {
   font-family: 'Raleway', sans-serif;
}
.login-page {
    background: linear-gradient(to bottom right, #1e5799, #7db9e8);
}
.login-logo {
    color:#fff;
}

.spacer {
    padding:1.5%;
}

.spacersm {
    padding:0.95%;
}

.label {
    padding:10px;
}

.edit {
    background-color: #FFF77D;
}
