body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.hero {
    background: url('/images/hero.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    color:#fff;
    padding:20px;
}

.footer-hero {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

.category a{
    color:#fff;
}

.category a:hover {
    color:#3c8dbc;
}


.blue {
    color:#999;
}

.guest a:hover{
    color:#FFFFE9;
}

.hero-text {
    float: none;
    margin: auto;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    vertical-align:middle;
}

.hero-text-large {
    font-size: 50pt;
}

.hero-text-small {
    font-size: 15pt;
}

.call-to-action {
    margin-top: 40px;
    display:block;
    font-weight:300;
}

.fb {
    border-color: rgba(238, 238, 238, 0.5);
    background-color: rgba(0, 88, 121, 0.5);
    overflow: hidden;
    transition: all 0.3s;
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    width:200px;
    margin-bottom:-8px;
}

.fb:hover {
    background-color:#005879;
}

.content {
    padding-top:11px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.main-header .logo {
   font-family: 'Raleway', sans-serif;
}
.login-page {
    background: linear-gradient(to bottom right, #1e5799, #7db9e8);
}
.login-logo {
    color:#fff;
}

.spacer {
    padding:1.5%;
}
.spacerfb {
    padding:10%;
}
.spacersm {
    padding:1%;
}

.label {
    padding:10px;
}

.edit {
    background-color: #FFF77D;
}
